.footer__column-link {
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: opacity 0.4s ease-out;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}

.footer__column-link:hover {
  opacity: 0.6;
}