.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  margin-top: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.two-columns__paragraph:not(:last-child) {
 margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 700;
}