.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
  position: relative;
  display: flex;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  color: #000000;
  min-height: 96px;
  font-size: 102px;
  font-weight: 700;
  width: 730px;
  margin-left: 64px;
  align-self: center;

}

.header__subtitle {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  min-height: 25px;
  width: 388px;
  margin-right: 64px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration img{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color:  #2f80ed;
}

